<p id="notice"><%= notice %></p>
<div class="text-center">
  <%= form_tag commits_url, method: :get, class: 'mb-4' do %>
      <div class="inline-block mb-2">
        <%= label_tag :owner, 'Owner', class: 'px-3'%>
        <%= text_field_tag :owner, params[:owner], placeholder: 'Owner',
                           class: 'px-3 py-2 rounded shadow', required: true %>
      </div>
      <div class="inline-block m-2">
        <%= label_tag :repo, 'Repository' %>
        <%= text_field_tag :repo, params[:repo], placeholder: 'Repository',
                           class: 'px-3 py-2 rounded shadow', required: true  %>
      </div>
      <div class="inline-block m-2">
        <%= label_tag :start_date, 'Author email' %>
        <%= text_field_tag :author_email, params[:author_email], placeholder: 'Author email',
                           class: 'px-3 py-2 rounded shadow', required: true  %>
      </div>
      <%= submit_tag 'Search', class: 'bg-teal-500 hover:bg-teal-600 border rounded py-2 px-3' %>
  <% end %>
  <%= link_to 'Clear params', root_url, class: 'bg-teal-500 hover:bg-teal-600 border rounded py-2 px-3 hover:text-black text-black'%>
</div>
<% if @commits.blank? %>
  <div class="p-4 text-xl text-center">Nothing found, try search with other parameters</div>
<% end %>
<%= form_tag destroy_multiple_commits_path, method: :delete, remote: true do %>
  <%= render @commits, id: 'commits'%>
<div class="text-center pb-2">
  <%= submit_tag "Delete selected", data: { confirm: 'Are you sure?'}, class:'destroy_multiple items-center bg-teal-500 hover:bg-teal-600 border rounded py-2 px-3 hover:text-black text-black' %>
</div>
<% end %>
<div class="text-center">
  <%= paginate @commits %>
</div>
