<p id="notice"><%= notice %></p>

<h1>Commits</h1>
<div class="">
<%= form_tag commits_url, method: :get, class: 'mb-4' do %>
    <div class="mb-2">
      <%= label_tag :owner, 'owner' %>
      <%= text_field_tag :owner, params[:owner], placeholder: 'owner',
                         class: 'px-3 py-2 rounded shadow' %>
    </div>
    <div class="mb-2">
      <%= label_tag :repo, 'repo' %>
      <%= text_field_tag :repo, params[:repo], placeholder: 'repo',
                         class: 'px-3 py-2 rounded shadow' %>
    </div>
    <div class="mb-2">
      <%= label_tag :start_date, 'author_email' %>
      <%= text_field_tag :author_email, params[:author_email], placeholder: 'author_email',
                         class: 'px-3 py-2 rounded shadow' %>
    </div>
  <%= submit_tag 'Search', class: 'bg-white border rounded py-2 px-3' %>
<% end %>
<div class="commits">
  <%= render @commits %>
</div>
